# .ebextensions/01_setup.config
packages:
  yum:
    gcc-c++: []
    mesa-libGL: []
    mesa-libEGL: []
    libXext: []
    libSM: []
    libXrender: []
    opencv-devel: []

commands:
  01_create_swap:
    command: |
      SWAPFILE=/var/swapfile
      if [ ! -f $SWAPFILE ]; then
        dd if=/dev/zero of=$SWAPFILE bs=1M count=2048
        mkswap $SWAPFILE
        chmod 600 $SWAPFILE
        swapon $SWAPFILE
      fi
    test: "! swapon -s | grep -q /var/swapfile"

container_commands:
  01_activate_swap:
    command: "swapon -a"